{% extends 'davur/elements/layouts/admin.html' %}
{% load static %}


{% block additional_css %}
{% endblock %}



{% block content %}

  



        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Food</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Order Status</a></li>
            </ol>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm mb-0">
                                <thead>
                                    <tr>
                                        <th class="align-middle">
                                            <div class="form-check custom-checkbox">
                                                <input type="checkbox" class="form-check-input" id="checkAll">
                                                <label class="form-check-label" for="checkAll"></label>
                                            </div>
                                        </th>
                                        <th class="align-middle">Order</th>
                                        <th class="align-middle">Customer</th>
                                        <th class="align-middle pe-7">Date</th>
                                        {% comment %} <th class="align-middle" style="min-width: 12.5rem;">Ship To</th> {% endcomment %}
                                        <th class="align-middle text-end">Order Status</th>
                                        <th class="align-middle text-end">Amount</th>
                                        <th class="align-middle text-end">Update</th>
                                    </tr>
                                </thead>
                                <tbody id="orders">
                                    {% for order in orders %}
                                    <tr class="btn-reveal-trigger">
                                        <td class="py-2">
                                            <div class="form-check custom-checkbox checkbox-success">
                                                <input type="checkbox" class="form-check-input" id="checkbox">
                                                <label class="form-check-label" for="checkbox"></label>
                                            </div>
                                        </td>
                                        <td class="py-2">{{order.order_id}}</td>
                                        <td class="py-2">{{order.customer}}</td>
                                        <td class="py-2">{{order.created_at}}</td>

                                        {% if order.order_status == 'Completed'%}
                                        <td class="py-2 text-center">
                                            <span class="badge badge-success">
                                                Completed <span></span>
                                            </span>
                                        </td>
                                        {% elif order.order_status == 'Delivered' %}
                                        <td class="py-2 text-center">
                                            <span class="badge badge-primary">
                                                Delivered<span></span>
                                            </span>
                                        </td>
                                        {% elif order.order_status == 'In Transit' %}
                                        <td class="py-2 text-center">
                                            <span class="badge badge-warning">
                                                In Transit<span></span>
                                            </span>
                                        </td>
                                        {% elif order.order_status == 'Packed' %}
                                        <td class="py-2 text-center">
                                            <span class="badge badge-danger">
                                                Packed<span></span>
                                            </span>
                                        </td>
                                        {% elif order.order_status == 'Order Placed' %}
                                        <td class="py-2 text-center">
                                            <span class="badge badge-info">
                                                Order Placed<span></span>
                                            </span>
                                        </td>
                                        {% endif %}
                                        
                                        
    



                                        
                                        <td class="py-2 text-end">${{order.total_price}}</td>
                                        

                                        
                                        <td class="py-2 text-end">
                                            <div class="dropdown text-sans-serif"><button class="btn btn-primary tp-btn-light sharp" type="button" id="order-dropdown-0" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></span></button>
                                                <div class="dropdown-menu dropdown-menu-end border py-0" aria-labelledby="order-dropdown-0">
                                                    <div class="py-2 ">
                                                        {% for status in status_list %}
                                                        <a class="dropdown-item text-start" href="{% url 'davur:update-status' order.id status %}">{{status}}</a>
                                                        {% endfor %}
                                                        
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div style= "margin-left:50px; margin-top:10px" class="pagination">
                                <span class="step-links">
                                
                                    {% if orders.has_previous %}
                                        <a href="?page=1">&laquo; First</a>
                                        <a href="?page={{ orders.previous_page_number }}">Previous</a>
                                    {% endif %}

                                    <span style="margin: 0 10px" class="current">
                                        Page {{ orders.number }} of {{ orders.paginator.num_pages }}
                                    </span>

                                    {% if orders.has_next %}
                                        
                                        <a href="?page={{ orders.next_page_number }}">Next</a>
                                        <a href="?page={{ orders.paginator.num_pages }}" >Last &raquo;</a>
                                        
                                    {% endif %}
                            
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}








